@model MainMenuViewModel

<nav id="main-menu">
    <div class="menu-items">
        @foreach(var link in Model.Links)
        {
            <a asp-controller="@link.ControllerName" asp-action="@link.ActionName">@link.DisplayName</a>
        }

    </div>
    <a asp-controller="Contact" asp-action="BookMeeting" class="btn btn-main">Book a meeting</a>
</nav>