<nav id="top-menu">
    <a href="mailto:info@domain.com" class="contact.email">info@domian.com</a>
    <div class="social">
        <a href="https://facebook.com">facebook</a>
        <a href="https://twitter.com">twitter</a>
        <a href="https://linkedin.com">linkedin</a>
        <a href="https://youtube.com">youtube</a>
    </div>
</nav>